<!-- Navigation Menu -->
<mat-toolbar class="nav-toolbar">
  <button mat-icon-button class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo">Lab Portal</span>

  <!-- Desktop Menu -->
  <div class="nav-links">
    <button mat-button [matMenuTriggerFor]="menu1" class="nav-button">Patient</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Insurance</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">General</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Diagnosis</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Test</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">ABN</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Schedule</button>
  </div>
</mat-toolbar>

<!-- Mobile Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-menu">
    <button mat-button (click)="sidenav.close()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu1" class="nav-button">Patient</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Insurance</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">General</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Diagnosis</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Test</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">ABN</button>
    <button mat-button [matMenuTriggerFor]="menu2" class="nav-button">Schedule</button>
  </mat-sidenav>
</mat-sidenav-container>

<!-- Dropdown Menus -->
<mat-menu #menu1="matMenu" class="custom-menu">
  <button mat-menu-item class="custom-menu-item">Feature 1</button>
  <button mat-menu-item class="custom-menu-item">Feature 2</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="custom-menu-item">Feature 3</button>
</mat-menu>

<mat-menu #menu2="matMenu" class="custom-menu">
  <button mat-menu-item class="custom-menu-item">Service 1</button>
  <button mat-menu-item class="custom-menu-item">Service 2</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="custom-menu-item">Service 3</button>
</mat-menu>


