<div class="lab-stepper-container">
  <!-- Order-information-bar -->
  <app-order-information-bar></app-order-information-bar>

  <!-- Stepper -->
  <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
    <!-- Step One -->
    <mat-step label="General">
      <app-general-information-form [stepper]="stepper"></app-general-information-form>
    </mat-step>

    <!-- Step Three -->
    <mat-step label="Patient">
      <app-patient-information [stepper]="stepper"></app-patient-information>
    </mat-step>

    <!-- Step Four -->
    <mat-step label="Insurance">
      <app-insurance-information-form [stepper]="stepper"></app-insurance-information-form>
    </mat-step>

    <!-- Step Five -->
    <mat-step label="Guarantor">
      <app-guarantor-information-form [stepper]="stepper"></app-guarantor-information-form>
    </mat-step>

    <!-- Step Six -->
    <mat-step label="Diagnosis">
      
    </mat-step>

    <!-- Step Seven -->
    <mat-step label="Test">
      <app-test></app-test>
    </mat-step>

    <!-- Step Eight -->
    <mat-step label="Schedule">
      
    </mat-step>

    <!-- Step Nine -->
    <mat-step label="Print">
      
    </mat-step>
  </mat-stepper>
</div>

