<div class="lab-stepper-container">
  <!-- Order-information-bar -->
  <app-order-information-bar></app-order-information-bar>

  <!-- Stepper -->
  <mat-stepper [linear]="isLinear" labelPosition="bottom" #stepper>
    <!-- Step One -->
    <mat-step [stepControl]="firstFormGroup" label="General">
      
    </mat-step>

    <!-- Step Two -->
    <mat-step [stepControl]="secondFormGroup" label="Patient" [editable]="true">
      <app-patient-information [stepper]="stepper"></app-patient-information>
    </mat-step>

    <!-- Step Three -->
    <mat-step [stepControl]="thirdFormGroup" label="Insurance">
      <app-insurance-information-form [stepper]="stepper"></app-insurance-information-form>
    </mat-step>

    <!-- Step Four -->
    <mat-step label="Guarantor">
      
    </mat-step>

    <!-- Step Five -->
    <mat-step label="Diagnosis">
      
    </mat-step>

    <!-- Step Six -->
    <mat-step label="Test">
      
    </mat-step>

    <!-- Step Seven -->
    <mat-step label="Schedule">
      
    </mat-step>

    <!-- Step Eight -->
    <mat-step label="Print">
      
    </mat-step>
  </mat-stepper>
</div>

