<mat-card style="background-color: white; margin-top: 20px;">
  <mat-card-title style="margin-bottom: 20px; margin-left: 20px; margin-top: 20px;">
    Guarantor Information
  </mat-card-title>
  <mat-card-content>
    <!-- Begin Reactive Form -->
    <form [formGroup]="guarantorForm" (ngSubmit)="onSave()">
      <!-- Outer grid: two columns -->
      <div class="guarantor-grid-container">
        
        <!-- Left Column -->
        <div class="left-column">
          <!-- Row 1: Patient Relation -->
          <div class="grid-row grid-1-col">
            <!--  -->
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Relationship to Patient</mat-label>
              <mat-select placeholder="Select Relation" formControlName="patientRelation">
                <mat-option value="black">Self</mat-option>
                <mat-option value="black">Parent</mat-option>
                <mat-option value="black">Spouse</mat-option>
                <!-- etc. -->
              </mat-select>
              <mat-error *ngIf="hasRequiredError('patientRelation')">
                Relationship is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Row 2: First / Middle / Last -->
          <div class="grid-row grid-3-col">
            <!-- First Name -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="Enter First Name"
                formControlName="firstName"
              />
              <mat-error *ngIf="hasRequiredError('firstName')">
                First Name is required
              </mat-error>
            </mat-form-field>

            <!-- Middle Name -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>Middle Name</mat-label>
              <input
                matInput
                placeholder="Enter Middle Name"
                formControlName="middleName"
              />
              <mat-error *ngIf="hasRequiredError('middleName')">
                Middle Name is required
              </mat-error>
            </mat-form-field>

            <!-- Last Name -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="Enter Last Name"
                formControlName="lastName"
              />
              <mat-error *ngIf="hasRequiredError('lastName')">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Row 3: DOB -->
          <div class="grid-row grid-3-col">
            <!-- DOB -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="MM/DD/YYYY"
                formControlName="dob"
                validDate
              />
              <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="hasRequiredError('dob')">
                DOB is required and must be a valid Date.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Email / Cell / Home Phone -->
          <div class="grid-row grid-3-col larger-email">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Email Address</mat-label>
              <input
                matInput
                placeholder="example@email.com"
                formControlName="email"
              />
              <mat-error *ngIf="hasRequiredError('email')">
                Email Address is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Cell Phone</mat-label>
              <input
                matInput
                appPhoneMask
                placeholder="(###) ###-####"
                formControlName="cellPhone"
              />
              <mat-error *ngIf="hasRequiredError('cellPhone')">
                Cell Phone is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Home Phone</mat-label>
              <input
                matInput
                appPhoneMask
                placeholder="(###) ###-####"
                formControlName="homePhone"
              />
              <mat-error *ngIf="hasRequiredError('homePhone')">
                Home Phone is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Employer Name -->
          <div class="grid-row grid-1-col">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Employer Name</mat-label>
              <input
                matInput
                placeholder="Employer Name"
                formControlName="employerName"
              />
              <mat-error *ngIf="hasRequiredError('employerName')">
                Employer Name is required
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <!-- Right Column -->
        <div class="right-column">
          <!-- Row 1: Street Address One -->
          <div class="grid-row grid-1-col">
            <!-- Street Address One -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>Street Address</mat-label>
              <input
                matInput
                placeholder="123 Main St"
                formControlName="streetAddressOne"
              />
              <mat-error *ngIf="hasRequiredError('streetAddressOne')">
                Street Address is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Row 2: Street Address Two -->
          <div class="grid-row grid-1-col">
            <!-- Street Address Two -->
            <mat-form-field appearance="outline" floatLabel="auto" class="resized-form-field">
              <mat-label>Street Address Two</mat-label>
              <input
                matInput
                placeholder="Apt / Suite #"
                formControlName="streetAddressTwo"
              />
              <mat-error *ngIf="hasRequiredError('streetAddressTwo')">
                Street Address is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Row 3: City / State / Zip -->
          <div class="grid-row grid-3-col larger-city">
            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>City</mat-label>
              <input
                matInput
                placeholder="Enter City"
                formControlName="city"
              />
              <mat-error *ngIf="hasRequiredError('city')">
                City is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>State</mat-label>
              <mat-select placeholder="Select State" formControlName="state">
                <mat-option value="AL">AL</mat-option>
                <mat-option value="AK">AK</mat-option>
                <mat-option value="AZ">AZ</mat-option>
                <mat-option value="AR">AR</mat-option>
                <mat-option value="CA">CA</mat-option>
                <mat-option value="CO">CO</mat-option>
                <mat-option value="CT">CT</mat-option>
                <mat-option value="DE">DE</mat-option>
                <mat-option value="DC">DC</mat-option>
                <mat-option value="FL">FL</mat-option>
                <mat-option value="GA">GA</mat-option>
                <mat-option value="HI">HI</mat-option>
                <mat-option value="ID">ID</mat-option>
                <mat-option value="IL">IL</mat-option>
                <mat-option value="IN">IN</mat-option>
                <mat-option value="IA">IA</mat-option>
                <mat-option value="KS">KS</mat-option>
                <mat-option value="KY">KY</mat-option>
                <mat-option value="LA">LA</mat-option>
                <mat-option value="ME">ME</mat-option>
                <mat-option value="MD">MD</mat-option>
                <mat-option value="MA">MA</mat-option>
                <mat-option value="MI">MI</mat-option>
                <mat-option value="MN">MN</mat-option>
                <mat-option value="MS">MS</mat-option>
                <mat-option value="MO">MO</mat-option>
                <mat-option value="MT">MT</mat-option>
                <mat-option value="NE">NE</mat-option>
                <mat-option value="NV">NV</mat-option>
                <mat-option value="NH">NH</mat-option>
                <mat-option value="NJ">NJ</mat-option>
                <mat-option value="NM">NM</mat-option>
                <mat-option value="NY">NY</mat-option>
                <mat-option value="NC">NC</mat-option>
                <mat-option value="ND">ND</mat-option>
                <mat-option value="OH">OH</mat-option>
                <mat-option value="OK">OK</mat-option>
                <mat-option value="OR">OR</mat-option>
                <mat-option value="PA">PA</mat-option>
                <mat-option value="RI">RI</mat-option>
                <mat-option value="SC">SC</mat-option>
                <mat-option value="SD">SD</mat-option>
                <mat-option value="TN">TN</mat-option>
                <mat-option value="TX">TX</mat-option>
                <mat-option value="UT">UT</mat-option>
                <mat-option value="VT">VT</mat-option>
                <mat-option value="VA">VA</mat-option>
                <mat-option value="WA">WA</mat-option>
                <mat-option value="WV">WV</mat-option>
                <mat-option value="WI">WI</mat-option>
                <mat-option value="WY">WY</mat-option>
              </mat-select>
              <mat-error *ngIf="hasRequiredError('state')">
                State is required
              </mat-error>
            </mat-form-field>
            

            <mat-form-field appearance="outline" floatLabel="auto">
              <mat-label>Zip Code</mat-label>
              <input
                matInput
                placeholder="#####"
                formControlName="zipCode"
              />
              <mat-error *ngIf="hasRequiredError('zipCode')">
                Zip Code is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Upload Button -->
          <button mat-flat-button color="primary">Upload Photo ID</button>

          <!-- Front / Back placeholders -->
          <div class="photo-grid">
            <div class="photo-placeholder">Front</div>
            <div class="photo-placeholder">Back</div>
          </div>
        </div>
      </div>

      <!-- Action buttons -->
      <div class="actions-row">
        <!-- Previous button -->
        <button mat-raised-button type="button" (click)="onPrevious()">
          Previous
        </button>

        <!-- Next button -->
        <button mat-raised-button style="background-color: #005CBB; color: #fff;" type="submit">
          Next
        </button>

        <!-- Hold button -->
        <button mat-raised-button style="background-color: #FF8F00; color: #fff;" type="button" (click)="onHold">
          Hold
        </button>

        <!-- Cancel button -->
        <button mat-raised-button style="background-color: #B71C1C; color: #fff;" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
